<%- include('../../partials/head.ejs') %>
<link rel="stylesheet" href="/stylesheets/panelAdministrarion.css">
<link rel="stylesheet" href="/stylesheets/products/showProducts.css">
</head>

<body>
    <%- include('../../partials/navAdmin.ejs') %>
    <%- include('../../partials/dropdownMenu.ejs') %>
    <section class="productos-section">
        <%- include('../../partials/historyMenuNav.ejs') %>
        <% if (products.length != 0) { %>
        <h1>Productos para ID venta No: <%= products[0].lote_id %></h1>

        <div class="productos-grid">
            <% for (let i = 0; i < products.length; i++) { %>

            <% if(products[i].originalSuffix == "COM" ) { %>
            <div class="producto-card">
                <div class="producto-imagen"> <img src=/uploads/images/<%= products[i].imagen %>
                        alt="Imagen-complemento">
                </div>
                <div class="producto-content">
                    <div class="producto-header">
                        <h3 class="producto-titulo"> <%= products[i].id_complemento %> </h3>
                        <h3 class="producto-titulo"> <%= products[i].producto %> </h3>
                        <h3 class="producto-nombre"> <%= products[i].caracteristicas %> </h3>
                    </div>
                    <div class="producto-info">
                        <div class="info-item"> <span class="info-label">Código Complento:</span> <span
                                class="info-value"><%= products[i].codigo_complemento %></span> </div>

                        <div class="info-item"> <span class="info-label">Piezas por caja:</span> <span
                                class="info-value"><%= products[i].cantidad_caja %></span> </div>


                        <div class="info-item"> <span class="info-label">Número lote:</span> <span
                                class="info-value"><%= products[i].lote_id %></span> </div>

                        <div class="info-item"> <span class="info-label">Precio compra (Caja):</span> <span
                                class="info-value precio">$<%= products[i].precio_caja %></span> </div>

                        <div class="info-item"> <span class="info-label">Precio Compra (Unitario) :</span> <span
                                class="info-value precio">$<%= products[i].precio_unitario %></span> </div>

                        <div class="info-item"> <span class="info-label">Precio venta (Unitario) :</span> <span
                                class="info-value precio">$<%= products[i].precio_unitario_venta %></span> </div>

                        <div class="info-item"> <span class="info-label">Cantidad:</span> <span
                                class="info-value"><%= products[i].cantidad %></span> </div>

                        <div class="info-item"> <span class="info-label">Proveedor:</span> <span
                                class="info-value">Ipesa</span> </div>
                    </div>
                </div>
            </div>
            <% } else {%>
            <div class="producto-card">
                <div class="producto-imagen">
                    <img src=/uploads/images/<%= products[i].imagen %> alt=<%= products[i].Tipo %>>
                </div>
                <div class="producto-info">
                    <div class="producto-detalles">
                        <h3 class="producto-titulo">
                            <%= products[i].id_producto %>
                            <%= products[i].subcategoria %>
                        </h3>
                        <h3 class="producto-titulo">
                            <%= products[i].nombre %>
                        </h3>
                        <p class="producto-precio">Codigo Pintura: <span>
                                <%= products[i].codigo_pintura %>
                            </span></p>
                        <p class="producto-color-label">Color: <span class="producto-color-valor">
                                <%= products[i].color_nombre %>
                            </span></p>
                        <p class="producto-precio">Cantidad caja: <span>
                                <%= products[i].cantidad_caja %>
                            </span></p>
                        <p class="producto-precio">Cantidad litros: <span>
                                <%= products[i].cantidad_litros %>
                            </span></p>

                        <p class="producto-precio">Precio compra: <span>$
                                <%= products[i].precio_compra %>
                            </span></p>
                        <p class="producto-precio">Precio venta: <span>$
                                <%= products[i].precio_venta %>
                            </span></p>
                        <p class="producto-precio">Cantidad: <span>
                                <%= products[i].cantidad %>
                            </span></p>
                        <p class="producto-precio">Proveedor: <span>
                                <%= products[i].nombre_proveedor %>
                            </span></p>
                    </div>
                    <div class="color-muestra">
                        <div class="color-circulo" style="background-color:<%= products[i].color_hex %>;"> </div>
                    </div>
                </div>
            </div>

            <% } %>
            <% } %>
            <% } %>
        </div>
    </section>
    <script src="/javascripts/appPanelAdministrarion.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        var errorMessage =
            "<%= typeof errorMessage !== 'undefined' ? errorMessage : '' %>";
        var successMessage =
            "<%= typeof successMessage !== 'undefined' ? successMessage : '' %>";
    </script>
</body>