<%- include('../partials/head.ejs') %>
<!-- Estilos personalizados -->
<link rel="stylesheet" href="/stylesheets/panelAdministrarion.css">
<link rel="stylesheet" href="/stylesheets/userStyles.css">
</head>

<body>
  <%- include('../partials/navAdmin.ejs') %>

  <!-- Inicia Menu -->
  <%- include('../partials/dropdownMenu.ejs') %>
  <!-- Contenido -->
  <section class="contenedor login" id="sectionFormulario">
    <h2 class="heading__login">Journey</h2>

    <form class="formulario__login" id="formularioLogin" method="post" action="/users/edit/<%= users.id_usuario %>">
      <h1 class="heading__formulario">Editar usuario: <%= users.nombre %></h1>

      <input type="text" class="input__formulario" placeholder="Nombre " id="inputUsuario" name="user" value="<%= users.nombre %>">
      <input type="email" class="input__formulario" placeholder="Correo electronico " id="inputCorreo" name="email" value="<%= users.email %>">
      <input type="password" class="input__formulario" placeholder="Contraseña" id="inputPassword" name="password" value="<%= users.pass %>">
      <select class="input__formulario" id="inputRol" name="rol">
        <option value="" disabled <% if (!users.rol) { %> selected <% } %>>Selecciona un rol</option>
        <option value="administrador" <% if (users.rol === 'administrador') { %> selected <% } %>>Administrador</option>
        <option value="operador" <% if (users.rol === 'operador') { %> selected <% } %>>Operador</option>
      </select>

      <input type="submit" class="submit__formulario" value="Actualizar" id="submitLogin">
      <a href="/users" class="submit__formulario">Volver</a>

    </form>


  </section>
  <!-- SweetAlert2 -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="/javascripts/appPanelAdministrarion.js"></script>
  <script src="/javascripts/appUsers.js"></script>
  <script>
    var errorMessage = "<%= typeof errorMessage !== 'undefined' ? errorMessage : '' %>";
  </script>

</body>

</html>