<%- include('../../partials/head.ejs') %>
<script src="https://cdn.tailwindcss.com"></script>
<link rel="stylesheet" href="/stylesheets/panelAdministrarion.css">
<link rel="stylesheet" href="/stylesheets/userStyles.css">
</head>

<body>
  <%- include('../../partials/navAdmin.ejs') %>
  <%- include('../../partials/dropdownMenu.ejs') %>
  <section class="contenedor login" id="sectionFormulario">
    <h2 class="heading__login">Journey</h2>
    <form class="formulario__login" id="formularioLogin" method="post" action="/admin/lots/edit/<%= lot.id_lote %>">
      <h1 class="heading__formulario">Añadir Lote</h1>
      <input type="text" class="input__formulario" placeholder="Proveedor" id="inputProveedor" name="nombre_empresa" value="<%= nameProvider %>">
      <input type="date" class="input__formulario" placeholder="Fecha Llegada" id="inputFechaLegada" name="fecha_llegada" value="<%= lot.fecha_llegada %>">
      <input type="date" class="input__formulario" placeholder="Fecha Caducidad" id="inputFechaCaducidad" name="fecha_caducidad" value="<%= lot.fecha_caducidad %>">
      <textarea class="input__formulario" placeholder="Descripcion" id="Descripcion" name="descripcion"> <%= lot.descripcion %> </textarea>
      <input type="submit" class="submit__formulario" value="Guardar" id="submitAñadir">
      
    </form>

    <script src="/javascripts/appAdminLots.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
      var errorMessage =
        "<%= typeof errorMessage !== 'undefined' ? errorMessage : '' %>";
      var successMessage =
        "<%= typeof successMessage !== 'undefined' ? successMessage : '' %>";
    </script>
</body>

</html>