<%- include('../../partials/head.ejs') %>
<link rel="stylesheet" href="/stylesheets/panelAdministrarion.css">
<link rel="stylesheet" href="/stylesheets/products/showProducts.css">
</head>

<body>
  <%- include('../../partials/navAdmin.ejs') %>
  <%- include('../../partials/dropdownMenu.ejs') %>
  <section class="productos">
    <% if (lots.length != 0) { %>
    <h1>Productos para <%= lots[0].codigo_lote %></h1>
    <div class="productos-grid">
      <% for (let i = 0; i < lots.length; i++) { %>
      <div class="producto-card">
        <div class="producto-imagen">
          <img src=/uploads/images/<%= lots[i].imagen %> alt=<%= lots[i].Tipo %>>
        </div>
        <div class="producto-info">
          <div class="producto-detalles">
            <h3 class="producto-titulo">
              <%= lots[i].id_producto %>
              <%= lots[i].Tipo %>
              <%= lots[i].tabla_origen %>
              <%= lots[i].subcategoria %>
            </h3>
            <h3 class="producto-titulo">
              <%= lots[i].nombre %>
            </h3>
            <p class="producto-precio">Codigo Pintura: <span>
                <%= lots[i].codigo_pintura %>
              </span></p>
            <p class="producto-color-label">Color: <span class="producto-color-valor">
                <%= lots[i].color_nombre %>
              </span></p>
            <p class="producto-precio">Cantidad caja: <span>
                <%= lots[i].cantidad_caja %>
              </span></p>
            <p class="producto-precio">Cantidad litros: <span>
                <%= lots[i].cantidad_litros %>
              </span></p>

            <p class="producto-precio">Precio compra: <span>$
                <%= lots[i].precio_compra %>
              </span></p>
            <p class="producto-precio">Precio venta: <span>$
                <%= lots[i].precio_venta %>
              </span></p>
            <p class="producto-precio">Cantidad: <span>
                <%= lots[i].cantidad %>
              </span></p>
            <p class="producto-precio">Proveedor: <span>
                <%= lots[i].nombre_proveedor %>
              </span></p>
          </div>
          <div class="color-muestra">
            <div class="color-circulo" style="background-color:<%= lots[i].color_hex %>;"> </div>
          </div>
        </div>

        <div class="producto-accion">
          <a class="btn-ver-mas"
            href="/admin/products/edit/<%= lots[i].id_producto %>/<%= lots[i].tabla_origen %>/lots">
            Editar <i class="fa-solid fa-pen-to-square"></i>
          </a>
          <a class="btn-ver-mas delete-product"
            data-url="/admin/products/delete/<%= lots[i].id_producto %>/<%= lots[i].tabla_origen %>">
            Eliminar <i class="fa-solid fa-trash"></i>
          </a>
        </div>
      </div>
      <% } %>
      <% } %>
    </div>
  </section>
  <script src="/javascripts/appPanelAdministrarion.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    var errorMessage =
      "<%= typeof errorMessage !== 'undefined' ? errorMessage : '' %>";
    var successMessage =
      "<%= typeof successMessage !== 'undefined' ? successMessage : '' %>";
  </script>
</body>