<%- include('../../partials/head.ejs') %>
<script src="https://cdn.tailwindcss.com"></script>
<link rel="stylesheet" href="/stylesheets/panelAdministrarion.css">
<link rel="stylesheet" href="/stylesheets/userStyles.css">
</head>

<body>
  <%- include('../../partials/navAdmin.ejs') %>
  <%- include('../../partials/dropdownMenu.ejs') %>



  <h1>Providers</h1>
  <div class="w-4/5 mx-auto mt-5">
    <a href="/admin/lots/add" class="submit__formulario" style="background-color: black;">Agregar lote</a>

    <table class="min-w-full divide-y divide-gray-200 overflow-x-auto">
      <thead class="bg-gray-50">
        <tr>
          <th scope="col" class="px-6 py-4 text-left text-2xl font-semibold text-gray-700 uppercase tracking-wider">
            ID
          </th>
          <th scope="col" class="px-6 py-4 text-left text-2xl font-semibold text-gray-700 uppercase tracking-wider">
            Codigo
          </th>
          <th scope="col" class="px-6 py-4 text-left text-2xl font-semibold text-gray-700 uppercase tracking-wider">
            Id de proveedor
          </th>
          <th scope="col" class="px-6 py-4 text-left text-2xl font-semibold text-gray-700 uppercase tracking-wider">
            Proveedor
          </th>
          <th scope="col" class="px-6 py-4 text-left text-2xl font-semibold text-gray-700 uppercase tracking-wider">
            Fecha llegada
          </th>
          <th scope="col" class="px-6 py-4 text-left text-2xl font-semibold text-gray-700 uppercase tracking-wider">
            Fecha Caducidad
          </th>
          <th scope="col" class="px-6 py-4 text-left text-2xl font-semibold text-gray-700 uppercase tracking-wider">
            Descripcion
          </th>
          <th scope="col" class="px-6 py-4 text-left text-2xl font-semibold text-gray-700 uppercase tracking-wider">
            Acciones
          </th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        <% if(lots){ %>
        <% for (let i = 0; i < lots.length; i++) { %>

        <tr>
          <td class="px-6 py-6 whitespace-nowrap">
            <div class="flex items-center">

              <div class="ml-6">
                <div class="text-2xl font-semibold text-gray-900">
                  <%= lots[i].id_lote  %>
                </div>
              </div>
          </td>
          <td class="px-6 py-6 whitespace-nowrap">
            <div class="flex items-center">

              <div class="ml-6">
                <div class="text-2xl font-semibold text-gray-900">
                  <%= lots[i].codigo_trazabilidad %>
                </div>
              </div>
            </div>
          </td>
          <td class="px-6 py-6 whitespace-nowrap">
            <div class="flex items-center">

              <div class="ml-6">
                <div class="text-2xl font-semibold text-gray-900">
                  <%= lots[i].proveedor_id %>
                </div>
              </div>
            </div>
          </td>
          <td class="px-6 py-6 whitespace-nowrap">
            <div class="flex items-center">

              <div class="ml-6">
                <div class="text-2xl font-semibold text-gray-900">
                  <%= lots[i].nombre_proveedor %>
                </div>
              </div>
            </div>
          </td>
          <td class="px-6 py-6 whitespace-nowrap">
            <div class="flex items-center">

              <div class="ml-6">
                <div class="text-2xl font-semibold text-gray-900">
                  <% if (lots[i].fecha_llegada) { %>
                  <%= new Date(lots[i].fecha_llegada).toLocaleDateString() %>
                  <% } %>
                </div>
              </div>
            </div>
          </td>
          <td class="px-6 py-6 whitespace-nowrap">
            <div class="flex items-center">

              <div class="ml-6">
                <div class="text-2xl font-semibold text-gray-900">
                  <% if (lots[i].fecha_caducidad) { %>
                  <%= new Date(lots[i].fecha_caducidad).toLocaleDateString() %>
                  <% } %>
                </div>
              </div>
            </div>
          </td>
          <td class="px-6 py-6 whitespace-nowrap">
            <div class="flex items-center">

              <div class="ml-6">
                <div class="text-2xl font-semibold text-gray-900">
                  <%= lots[i].descripcion %>
                </div>
              </div>
            </div>
          </td>

          <td class="px-6 py-6 whitespace-nowrap">
            <div class="flex items-center">

              <div class="ml-6">
                <div class="text-2xl font-semibold text-gray-900">
                  <a href="/admin/lots/showProduct/<%= lots[i].id_lote %>">Ver productos</a>

                  <a href="/admin/lots/generateCode/<%= lots[i].id_lote %>/<%= (new Date(lots[i].fecha_llegada).getMonth() + 1).toString().padStart(2, '0') %>/<%= new Date(lots[i].fecha_llegada).getFullYear() %>">Generar codigo</a>

                  <a href="/admin/lots/edit/<%= lots[i].id_lote %>/<%= lots[i].proveedor_id %>">Editar</a>

                  <a class="delete-product" data-url="/admin/lots/delete/<%= lots[i].id_lote %>">Eliminar</a>
                </div>
              </div>
            </div>
          </td>
        </tr>
        <% } %>
        <% } %>
      </tbody>
    </table>
  </div>

  <script src="/javascripts/appAdminLots.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    var errorMessage =
      "<%= typeof errorMessage !== 'undefined' ? errorMessage : '' %>";
    var successMessage =
      "<%= typeof successMessage !== 'undefined' ? successMessage : '' %>";
  </script>
</body>