<%- include('../../partials/head.ejs') %>
<link rel="stylesheet" href="/stylesheets/panelAdministrarion.css">
<link rel="stylesheet" href="/stylesheets/products/showProducts.css">
</head>

<body>
  <%- include('../../partials/navAdmin.ejs') %>
  <%- include('../../partials/dropdownMenu.ejs') %>

  <% if (lots.length != 0) { %>
  <section class="productos">
    <h1 class="heading__lote">Productos para <%= lots[0].codigo_lote %></h1>
    <div class="productos-grid">
      <% if (lots) { %>
      <% for (let i = 0; i < lots.length; i++) { %>


      <div class="producto-card">
        <div class="producto-imagen">
          <img src="/uploads/images/<%= lots[i].imagen %>" alt="<%= lots[i].Tipo %>">
        </div>

        <div class="producto-content">
          <div class="producto-header">
            <h3 class="producto-titulo">
              <%= lots[i].id_producto %>
              <%= lots[i].Tipo %> <%= lots[i].tabla_origen %> <%= lots[i].subcategoria %>
            </h3>
            <h3 class="producto-nombre">
              <%= lots[i].nombre %>
            </h3>
            <div class="color-muestra">
              <div class="color-circulo" style="background-color:<%= lots[i].color_hex %>;"></div>
              <span class="color-nombre"><%= lots[i].color_nombre %></span>
            </div>
          </div>

          <div class="producto-info">
            <% if (lots[i].codigo_pintura !== null)  {%>
            <div class="info-item">
              <span class="info-label">Código Pintura:</span>
              <span class="info-value"><%= lots[i].codigo_pintura %></span>


            </div>
            <% }%>

            <% if (lots[i].cantidad_litros !== null)  {%>

            <div class="info-item">
              <span class="info-label">Cantidad litros:</span>
              <span class="info-value"><%= lots[i].cantidad_litros %></span>
            </div>
            <% }%>

            <div class="info-item">
              <span class="info-label">Número lote:</span>
              <span class="info-value"><%= id_lote %></span>
            </div>
            <div class="info-item">
              <span class="info-label">Precio venta:</span>
              <span class="info-value precio">$<%= lots[i].precio_venta %></span>
            </div>
            <div class="info-item">
              <span class="info-label">Cantidad:</span>
              <span class="info-value"><%= lots[i].cantidad %></span>
            </div>
            <div class="info-item">
              <span class="info-label">Proveedor:</span>
              <span class="info-value">Ipesa</span>
            </div>
          </div>
        </div>

        <div class="producto-accion-lotes">
          <a class="btn-accion btn-editar bt__lote1"
            href="/admin/products/edit/<%= lots[i].id_producto %>/<%= lots[i].tabla_origen %>/lots">
            <i class="fa-solid fa-pen-to-square"></i> Editar
          </a>

          <a class="btn-accion btn-eliminar bt__lote2 delete-product"
            data-url="/admin/products/delete/<%= lots[i].id_producto %>/<%= lots[i].tabla_origen %>">
            <i class="fa-solid fa-trash bt__lote2"></i> Eliminar
          </a>


        </div>
      </div>

      <% } %>
      <% } %>
      <% } %>
    </div>
  </section>

  <script src="/javascripts/appPanelAdministrarion.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script>
    var errorMessage = "<%= typeof errorMessage !== 'undefined' ? errorMessage : '' %>";
    var successMessage = "<%= typeof successMessage !== 'undefined' ? successMessage : '' %>";
  </script>
</body>