<%- include('../../partials/head.ejs') %>
<link rel="stylesheet" href="/stylesheets/panelAdministrarion.css">
<link rel="stylesheet" href="/stylesheets/productsAdministration.css">
</head>

<body>
  <%- include('../../partials/navAdmin.ejs') %>
  <%- include('../../partials/dropdownMenu.ejs') %>

  <h1 class="heading__formulario">Editar Producto</h1>

  <div class="contenedor">
    <div class="formulario-container">
      <form class="formularios__productos" id="formularioEditar" method="post"
        action="/admin/products/edit/<%= product.id_producto %>/<%= path %>" enctype="multipart/form-data">
        <div class="formulario__grid">
          <div class="formulario__card">
            <div class="card__header">
              <div class="icon-circle">
                <i class="fa-solid fa-circle-info"></i>
              </div>
              <h2>Información Principal</h2>
            </div>
            <div class="card__content">
              <div class="form-row">
                <div class="form-group">
                  <label>Código de Pintura</label>
                  <div class="input-container">
                    <i class="fas fa-search"></i>
                    <input type="text" placeholder="000" name="codigo_pintura" id="inputCodigo" 
                      value="<%= product.codigo_pintura %>">
                    <span class="badge">Autocompletado</span>
                  </div>
                </div>
                <div class="form-group">
                  <label>Litros (<%= liters %>)</label>
                  <div class="input-container">
                    <i class="fa-solid fa-fill-drip"></i>
                    <select name="cantidad_litros" id="inputLitros" required>
                      <option value="" disabled selected>Selecciona una opción </option>

                      <option selected value="<%= product.litros %>"><%= product.litros %> Litros</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group">
                  <label>Categoría</label>
                  <div class="input-container">
                    <i class="fas fa-tags"></i>
                    <input type="text" placeholder="Categoría" name="tabla_categoria" id="inputCategoria" readonly
                      value="<%= product.tabla_categoria %>" required>
                  </div>
                </div>
                <div class="form-group">
                  <label>Subcategoría</label>
                  <div class="input-container">
                    <i class="fas fa-tag"></i>
                    <input type="text" placeholder="Subcategoría" name="subcategoria" id="inputSubCategoria" readonly
                      value="<%= product.subcategoria %>" required>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group full-width">
                  <label>Nombre del Producto</label>
                  <div class="input-container">
                    <i class="fas fa-tag"></i>
                    <input type="text" placeholder="Nombre del producto" name="nombre" id="inputNombreProducto" readonly
                      value="<%= product.nombre %>" required>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- SECCIÓN INFORMACIÓN VISUAL -->
          <div class="formulario__card">
            <div class="card__header">
              <div class="icon-circle">
                <i class="fa-solid fa-image"></i>
              </div>
              <h2>Información Visual</h2>
            </div>
            <div class="card__content">

              <div class="upload-area" id="uploadArea">

                <div class="upload-placeholder">
                  <i class="fa-solid fa-cloud-arrow-up"></i>
                  <p>Arrastra una imagen o haz clic para seleccionar</p>
                </div>


                <% if (product.imagen) { %>

                <img src="/uploads/images/<%= product.imagen %>" alt="Imagen del producto" id="imagePreview"
                  class="preview-image">

                <input type="file" id="imageUpload" name="imagen" accept="image/*">

                <% } %>

                <input type="hidden" name="currentImagePath" value="<%= product.imagen %>">

              </div>
              <div class="form-row">
                <div class="form-group">
                  <label>Nombre del Color</label>
                  <div class="input-container">
                    <i class="fas fa-palette"></i>
                    <input type="text" id="colorInput" placeholder="Nombre del color" readonly name="color_nombre"
                      value="<%= product.color_nombre %>" required>
                  </div>
                </div>
                <div class="form-group">
                  <label>Color</label>
                  <input type="color" id="nombreColor" readonly name="color_hex" value="<%= product.color_hex %>"
                    required>
                </div>
              </div>
            </div>
          </div>

          <!-- SECCIÓN PRECIOS Y CANTIDADES -->
          <div class="formulario__card">
            <div class="card__header">
              <div class="icon-circle">
                <i class="fa-solid fa-dollar-sign"></i>
              </div>
              <h2>Precios y Cantidades</h2>
            </div>
            <div class="card__content">
              <div class="form-row">
                <div class="form-group">
                  <label for="precio_compra">Precio de Compra</label>
                  <div class="input-container">
                    <i class="fas fa-shopping-cart"></i>
                    <input type="number" placeholder="Precio de compra" name="precio_compra" id="inputCompra" min="0"
                      value="<%= product.precio_compra %>" required>
                  </div>
                </div>
                <div class="form-group">
                  <label for="">Precio de Venta</label>
                  <div class="input-container">
                    <i class="fas fa-tag"></i>
                    <input type="number" placeholder="Precio de venta" name="precio_venta" id="inputVenta" min="0"
                      value="<%= product.precio_venta %>" required>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group">
                  <label>Cantidad Disponible</label>
                  <div class="input-container">
                    <i class="fas fa-boxes"></i>
                    <input type="number" placeholder="Cantidad disponible" name="cantidad" id="inputCantidad" min="0"
                      value="<%= product.cantidad %>" required>
                  </div>
                </div>
                <div class="form-group">
                  <label>Piezas por Caja</label>
                  <div class="input-container">
                    <i class="fas fa-box"></i>
                    <input type="text" placeholder="Piezas por caja" id="inputCajasContainer" name="cantidad_caja"
                      value="<%= product.cantidad_caja %>" readonly required>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group">
                  <label>Número de Lote</label>
                  <div class="input-container">
                    <i class="fas fa-barcode"></i>
                    <input type="number" placeholder="Número de lote" name="lote_id" id="inputLote" min="0"
                      value="<%= product.lote_id %>" required>
                  </div>
                </div>
                <div class="form-group">
                  <label>Proveedor</label>
                  <div class="input-container">
                    <i class="fas fa-truck"></i>
                    <input type="text" placeholder="Proveedor" name="nombre_proveedor" id="inputProveedor" readonly
                      value="<%= product.nombre_proveedor %>" required>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- SECCIÓN BOTONES -->
          <div class="buttons-container">
            <button type="submit" class="btn btn-save">
              <i class="fas fa-save"></i> Guardar Cambios
            </button>
            <a href="/admin/products" class="btn btn-cancel">
              <i class="fas fa-arrow-left"></i> Volver
            </a>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- SweetAlert2 -->
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="/javascripts/validations/validationsEditProducts.js"></script>
  <script src="/javascripts/appPanelAdministrarion.js"></script>
  <script src="/javascripts/appAdminProducts.js"></script>
  <script src="/javascripts/appFormularioAdd.js"></script>


  <script>
    var errorMessage = "<%= typeof errorMessage !== 'undefined' ? errorMessage : '' %>";
    var successMessage = "<%= typeof successMessage !== 'undefined' ? successMessage : '' %>";
  </script>

</body>

</html>