<%- include('../../partials/head.ejs') %>
<link rel="stylesheet" href="/stylesheets/panelAdministrarion.css">
<link rel="stylesheet" href="/stylesheets/userStyles.css">
</head>

<body>
    <%- include('../../partials/navAdmin.ejs') %>
    <%- include('../../partials/dropdownMenu.ejs') %>

    <main class="main-content">
        <header class="page-header">
            <h1><i class="fas fa-tags"></i> Administración de Etiquetas</h1>
        </header>

        <section class="contenedor etiqueta-container">
            <div class="etiqueta-info">
                <h2 class="etiqueta-id">ID Producto: <%= tagValues.id_producto %></h2>
                <h2 class="etiqueta-categoria">Categoría: <%= category %></h2>
            </div>

            <div class="etiqueta-actions">
                <a href="/admin/products/generateTag/<%= tagValues.id_producto  %>/<%= category %>"
                    class="btn btn-generar-producto">
                    Generar Etiqueta
                </a>
            </div>
        </section>
    </main>

    <!-- SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/javascripts/appPanelAdministrarion.js"></script>

    <script>
        var errorMessage = "<%= typeof errorMessage !== 'undefined' ? errorMessage : '' %>";
        var successMessage = "<%= typeof successMessage !== 'undefined' ? successMessage : '' %>";
    </script>

</body>

</html>